@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #2151d1;
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    background-color: #dcebfd; /* brand-100 */
    color: #182752; /* brand-950 */
  }
}

/* ensure hero image fills */
.hero-bg {
  background-size: cover;
  background-position: center;
}
